.cartitems{
    margin: 100px 170px;

}
.cartitems hr{
    height: 3px;
    border: 0;
    background: #e2e2e2;

}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    color: #454545;
    font-size: 18px;
    font-weight: 600;
}
.cartitems-format{
    font-size: 17px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 62px;
}
.carticon-remove{
    width: 40px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitems-quantity{
    width: 64px;
    height: 50px;
    background: #fff;
    border:  2px solid #ebebeb;
}
.cart-items-down{
    display: flex;
    margin:100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}

.cartitems-total-items,
.cartitems-total-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cartitems-total-items p,
.cartitems-total-item p {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
}

.cartitems-total-item h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

/* Horizontal line styling */
hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ccc;
}

/* Highlighting total */
.cartitems-total-item h3:last-child {
    color: #e44d26;
    font-size: 25px;
    font-weight: 500; /* Change to your preferred highlight color */
}

.cartitems-total button{
    width: 262px;
    height: 58px;
    border: none;
    outline: none;
    background: #ff5a5a;
    border:  2px solid #ebebeb;
    cursor:pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}