.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    max-width: 250px;
    gap: 20px;
    height: 100vh;
    width: 100%;
    background: white;
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}
@media (max-width: 800px) {
    .sidebar{
        padding: 30px 0px;
        flex-direction: row;
        max-width: none;
        width: 100%;
        height: auto;
        justify-content: center;
    }
    .sidebar-item{
        margin: 0;
    }
}